services:
  frontend:
    build:
      context: ./articulatefe
      dockerfile: ./docker/dev/Dockerfile
    volumes:
      - ./articulatefe:/app
      - /app/node_modules   # avoid overwriting host node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    env_file:
      - articulatefe/.env
    ports:
      - "3000:5173"
    depends_on:
      - backend
    networks:
      - appnet

  backend:
    build:
      context: ./api
      dockerfile: ./docker/dev/Dockerfile
    env_file:
      - api/.env
    volumes:
      - ./api:/api
    ports:
      - "5000:5000"
    networks:
      - appnet

networks:
  appnet:
    driver: bridge